resource "hpe_morpheus_catalog_item_instance" "this" {
  name        = var.catalog_item_name
  description = var.catalog_item_description
  visibility  = var.catalog_item_visibility

  # Required by provider for instance catalog items.
  config = file(var.instance_config_file)

  category        = var.catalog_item_category
  enabled         = var.catalog_item_enabled
  featured        = var.catalog_item_featured
  labels          = var.catalog_item_labels
  option_type_ids = var.option_type_ids
  form_id         = var.form_id
}

output "catalog_item_id" {
  value = hpe_morpheus_catalog_item_instance.this.id
}

output "catalog_item_name" {
  value = hpe_morpheus_catalog_item_instance.this.name
}
